<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{layout/mainLayout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header bg-success">
                <h3 class="box-title">List of Users</h3>
                <div class="box-tools">
                    <div class="input-group" style="width: 400px;">
                        <button type="button" class="btn btn-primary" onclick="openForm()"><i class="fas fa-plus"></i>Add New Task</button>
                    </div>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tr>
                        <th>#</th>
                        <th>Role Name</th>
                        <th>Action</th>
                    </tr>
                    <tr th:each="au,iterStat : ${role}">
                        <td style="width: 10px"><span th:text="${iterStat.count}">1</span></td>
                        <td th:text="${au.getName()}">Trident</td>
                        <td>
                            <a th:href="@{'/admin/editRole/'+${au.id}}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a>
                        </td>
                    </tr>

                </table>
            </div><!-- /.box-body -->

        </div><!-- /.box -->
    </div>
</div>
<!-- Modal -->
<div class="form-popup" id="myForm">
    <form th:action="@{/admin/addRole}" method="post" class="form-container">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Enter Title" name="title"/>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" name="description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="role">Assign To</label>
                    <select class="form-control"  id="role" name="roleb" >
                        <option>--Select--</option>
                        <option th:each="au : ${role}"
                                th:value="${au.getId()}"
                                th:text="${au.getName()}">
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="dueDate">Due Date</label>
                    <input type="text" class="form-control"  id="dueDate" placeholder="Enter Due Date" name="dueDate"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-offset-5 col-sm-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="submit" class="btn cancel" onclick="closeForm()">Cancel</button>

                </div>
            </div>
        </div>
    </form>
</div>
<!--end  Modal-->
</body>
</html>