<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{layout/mainLayout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="box box-warning">
    <div class="box-header with-border">
        <h3 class="box-title">Team List</h3>
    </div>
    <div class="box-body">
        <div class="small-spacing">
            <!--start -->
            <table class="table table-striped margin-bottom-10">

                <tbody th:each="au,iterStat : ${task}">
                <tr>
                    <td th:text="${empCount+' Members'}"></td>
                    <td>
                        Team Quota(<span th:with="days=${T(java.util.concurrent.TimeUnit).DAYS}, millis=${T(java.util.concurrent.TimeUnit).MILLISECONDS}" th:text="${days.convert(#dates.createNow().getTime()-au.dueDate.getTime(), millis)}" />)
                    </td>
                </tr>
                <tr>
                    <td th:each="ep:${au.teamLead}" th:text="${'Team Lead : '+ep.surname+' '+ep.firstName+' '+ ep.otherName}" colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <ul>
                            <li th:each="as:${au.employees}" th:text="${as.surname+' '+as.firstName+' '+ as.otherName}"></li>
                        </ul>
                    </td>
                </tr>
                <!--<tr >-->
                    <!--<td style="width: 10px"><span th:text="${iterStat.count}">1</span></td>-->
                    <!--<td th:text="${au.title}">Trident</td>-->
                    <!--<td th:text="${#dates.format(au.dueDate,'dd MMMM yyyy')}">Internet Explorer 4.0</td>-->
                    <!--<td th:text="${#calendars.format(au.createdDate,'dd MMMM yyyy')}">Win 95+</td>-->
                    <!--<td ><span class="label label-success" th:text="${au.status}">New</span></td>-->
                    <!--<td>-->
                        <!--<a th:href="@{'/admin/viewTask/'+${au.id}}" title="Task Details" class="btn btn-primary"><i class="fas  fa-folder-open ml-2"></i></a>-->
                        <!--<a th:href="@{/admin/deleteTask/{id}(id=${au.id})}" class="btn btn-primary"><i class="fas fa-trash ml-2"></i></a>-->
                        <!--<a th:href="@{/admin/viewTeam/{id}(id=${au.id})}" title="View Team" class="btn btn-primary"><i class="fas fa-users ml-2"></i></a>-->
                    <!--</td>-->
                <!--</tr>-->
                </tbody>
            </table>
            <!--end -->
        </div>
        <!-- /.row -->
    </div><!-- /.box-body -->

</div><!-- /.box -->
</body>
</html>