<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{layout/managerLayout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="box box-warning">
    <div class="box-header with-border">
        <h3 class="box-title">Team List</h3>
    </div>
    <div class="box-body">
        <div class="small-spacing">
            <!--start -->
            <table class="table table-striped margin-bottom-10">

                <tbody th:each="au,iterStat : ${task}">
                <tr>
                    <td th:text="${empCount+' Members'}"></td>
                    <td>
                        Team Quota( <span th:text="${diffDays+' days, '+diffHours+' hours, '+diffMinutes+' minutes, '+diffSeconds+' seconds'}" /> )
                    </td>
                </tr>
                <tr>
                    <td th:each="ep:${au.teamLead}" th:text="${'Team Lead : '+ep.surname+' '+ep.firstName+' '+ ep.otherName}" colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <!--<div class="col-md-6 col-xs-12">-->
                            <!--<div class="box-content card">-->
                                <!--<h4 class="box-title"><i class="fa fa-globe ico"></i> Name</h4>-->
                                <!--</div>-->
                                <!--&lt;!&ndash; /.dropdown js__dropdown &ndash;&gt;-->
                                <!--<div class="card-content" th:each="as:${au.employees}">-->
                                    <!--<strong><i class="fa fa-book margin-r-5"></i> <span th:text="${as.surname+' '+as.firstName+' '+ as.otherName}">New Signup</span></strong>-->

                                    <!--<p class="text-muted"> <a href="#">Assign Task</a> </p>-->
                                    <!--<hr/>-->

                                <!--</div>-->
                                <!--&lt;!&ndash; /.card-content &ndash;&gt;-->
                            <!--</div>-->
                            <!-- /.box-content card -->
                        <div class="post" th:each="as:${au.employees}">
                            <div class="user-block">
                                <img class="img-circle img-bordered-sm" src="../../dist/img/user1-128x128.jpg" alt="image">
                                <strong><span class="username" th:text="${as.surname+' '+as.firstName+' '+ as.otherName}">Name</span></strong>
                                <!--<span class="username">-->
                          <!--<a href="#">Jonathan Burke Jr.</a>-->
                          <!--<a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>-->
                        <!--</span>-->
                                <span class="description"><a href="#" th:href="@{'/manager/subTask/'+${as.id}}" data-remodal-target="remodal" class="waves-effect waves-light">Assign Task</a> </span>
                            </div>
                        </div>
                    </td>
                </tr>
                <!--<tr >-->
                    <!--<td style="width: 10px"><span th:text="${iterStat.count}">1</span></td>-->
                    <!--<td th:text="${au.title}">Trident</td>-->
                    <!--<td th:text="${#dates.format(au.dueDate,'dd MMMM yyyy')}">Internet Explorer 4.0</td>-->
                    <!--<td th:text="${#calendars.format(au.createdDate,'dd MMMM yyyy')}">Win 95+</td>-->
                    <!--<td ><span class="label label-success" th:text="${au.status}">New</span></td>-->
                    <!--<td>-->
                        <!--<a th:href="@{'/admin/viewTask/'+${au.id}}" title="Task Details" class="btn btn-primary"><i class="fas  fa-folder-open ml-2"></i></a>-->
                        <!--<a th:href="@{/admin/deleteTask/{id}(id=${au.id})}" class="btn btn-primary"><i class="fas fa-trash ml-2"></i></a>-->
                        <!--<a th:href="@{/admin/viewTeam/{id}(id=${au.id})}" title="View Team" class="btn btn-primary"><i class="fas fa-users ml-2"></i></a>-->
                    <!--</td>-->
                <!--</tr>-->
                </tbody>
            </table>
            <!--end -->
        </div>
        <!-- /.row -->
    </div><!-- /.box-body -->

</div><!-- /.box -->
<!-- Modal -->
<div class="remodal" data-remodal-id="remodal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
    <div class="remodal-content">
        <h2 class="box-title">Remodal</h2>
        <form th:object="${task}" th:action="@{/admin/addTask}" method="post">
            <div class="checkbox">
                <table class="table table-striped table-responsive">
                    <thead>
                    <tr>
                        <td colspan="2"> Assign Task To: </td>
                    </tr>
                    </thead>
                    <tr>
                        <td width="20px"><input type="checkbox" id="checkbox-1" /></td>
                        <td> <label for="checkbox-1">Default</label></td>
                    </tr>
                </table>


            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-offset-5 col-sm-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button data-remodal-action="cancel" class="btn cancel">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
<!--end  Modal-->
</body>
</html>