

                      #playground-container {
                          height: 500px;
                          overflow: hidden !important;
                          -webkit-overflow-scrolling: touch;
                      }
.main{
    margin:50px 15px;
}

h1.title {
    font-size: 50px;
    font-family: 'Passion One', cursive;
    font-weight: 400;
}

hr{
    width: 10%;
    color: #fff;
}

.form-group{
    margin-bottom: 15px;
}

label{
    margin-bottom: 5px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}
.form-control {
    height: auto!important;
    padding: 8px 12px !important;
}
.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}
#button {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    color: #666;
    text-shadow: 0 1px #fff;
    cursor: pointer;
    -moz-border-radius: 3px 3px;
    -webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
    -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    box-shadow: 0 1px #fff inset, 0 1px #ddd;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}
.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 800px;
    padding: 10px 40px;
    /*background:#009edf;*/
    color: #000;
    text-shadow: none;
    /*-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);*/
    /*-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);*/
    /*box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);*/

}
span.input-group-addon i {
    color: #009edf;
    font-size: 17px;
}

.login-button{
    margin-top: 5px;
}

.login-register{
    font-size: 11px;
    text-align: center;
}
.bottomBorder{
    border-bottom: #0b0b0b solid 1px;
}
/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=submit],.form-container select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    cursor: pointer;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

  /*---------------------------------------------------------------------*/
  /*-----------------------------------------------------------------------
  2. Box Content
  */
  .box-content {
      position: relative;
      padding: 20px;
      margin: 0px 0px 20px 0px;
      background: #ffffff;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.05);
      -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.05);
      /* State */
      /* Style */
      /* Color */
  }
  .box-content:after {
      content: "";
      display: block;
      width: 0px;
      height: 0px;
      clear: both;
      overflow: hidden;
  }
  .box-content .box-title {
      margin: 0px 0px 30px 0px;
      font-size: 16px;
      line-height: 16px;
      font-weight: 600;
      transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease;
  }
  .box-content .box-title .ico {
      margin-right: 8px;
      line-height: 16px;
  }
  .box-content .box-title.with-control .controls {
      position: absolute;
      right: 20px;
      top: 20px;
      font-size: 0px;
      line-height: 16px;
  }
  .box-content .box-title.with-control .control {
      border: none;
      background: none;
      outline: none;
      height: 16px;
      font-size: 14px;
  }
  .box-content .box-title.with-control .fa-times {
      position: relative;
      top: -1px;
  }
  .box-content .content:after {
      content: "";
      display: block;
      width: 0px;
      height: 0px;
      clear: both;
      overflow: hidden;
  }
  .box-content .dropdown.js__drop_down {
      position: absolute;
      right: 20px;
      top: 20px;
  }
  .box-content .dropdown.js__drop_down .dropdown-icon {
      color: #aab2bd;
  }
  @media (min-width: 1025px) {
      .box-content .dropdown.js__drop_down .dropdown-icon:hover {
          color: #434343;
      }
  }
  .box-content .dropdown.js__drop_down .sub-menu {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      -moz-opacity: 0;
      -khtml-opacity: 0;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0px;
      right: 100%;
      margin-right: 5px;
      z-index: 20;
      width: 200px;
      margin-top: 2px;
      padding: 10px 0px;
      border: 1px solid rgba(152, 166, 173, 0.15);
      background: #ffffff;
      list-style: none;
      transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      transform: translate(0, 20px);
      -webkit-transform: translate(0, 20px);
      -moz-transform: translate(0, 20px);
      -o-transform: translate(0, 20px);
      -ms-transform: translate(0, 20px);
      box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
      -moz-box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
      -webkit-box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  }
  .box-content .dropdown.js__drop_down .sub-menu a {
      display: block;
      padding: 6px 20px 6px 20px;
      color: #434343;
  }
  @media (min-width: 1025px) {
      .box-content .dropdown.js__drop_down .sub-menu a:hover {
          color: #304ffe;
      }
  }
  .box-content .dropdown.js__drop_down .sub-menu .split {
      margin: 9px 0px 9px 0px;
      width: 100%;
      height: 1px;
      background: #e5e5e5;
  }
  .box-content .dropdown.js__drop_down.active .dropdown-icon {
      color: #434343;
  }
  .box-content .dropdown.js__drop_down.active .sub-menu {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      -moz-opacity: 1;
      -khtml-opacity: 1;
      opacity: 1;
      visibility: visible;
      transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
  }
  .box-content.card-closed .box-title {
      margin-bottom: 0px !important;
  }
  .box-content.card-closed .box-title.with-control .fa-minus:before {
      content: "\f067";
  }
  .box-content.bordered {
      border-top: 4px solid #434343;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
  }
  .box-content.bordered-all {
      border: 1px solid #434343;
      border-top: 4px solid #434343;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
  }
  .box-content.card {
      padding: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
  }
  .box-content.card .box-title {
      margin-bottom: 0px;
      padding: 10px 20px 10px 20px;
      line-height: 30px;
      color: #ffffff !important;
      background-color: #434343;
  }
  .box-content.card .box-title .ico {
      line-height: 30px;
  }
  .box-content.card .box-title .controls {
      top: 17px;
  }
  .box-content.card .dropdown {
      top: 15px;
  }
  .box-content.card .dropdown .dropdown-icon {
      color: #ffffff;
  }
  .box-content.card .card-content {
      padding: 20px;
  }
  .box-content.card.bordered-all {
      border-top: none;
  }
  .box-content.card .dropdown.js__drop_down .dropdown-icon {
      color: #ffffff !important;
  }
  .box-content.card.white .box-title {
      color: #434343 !important;
      background: #ffffff;
      border-bottom: 1px solid #e6e9ed;
  }
  .box-content.primary {
      border-color: #188ae2;
  }
  .box-content.primary .box-title {
      color: #188ae2;
  }
  .box-content.success {
      border-color: #00bf4f;
  }
  .box-content.success .box-title {
      color: #00bf4f;
  }
  .box-content.info {
      border-color: #00aeff;
  }
  .box-content.info .box-title {
      color: #00aeff;
  }
  .box-content.warning {
      border-color: #fbbc05;
  }
  .box-content.warning .box-title {
      color: #fbbc05;
  }
  .box-content.danger {
      border-color: #ea4335;
  }
  .box-content.danger .box-title {
      color: #ea4335;
  }
  .box-content.muted {
      border-color: #f4f8fb;
  }
  .box-content.muted .box-title {
      color: #f4f8fb;
  }
  .box-content.inverse {
      border-color: #212121;
  }
  .box-content.inverse .box-title {
      color: #212121;
  }
  .box-content.purple {
      border-color: #5b69bc;
  }
  .box-content.purple .box-title {
      color: #5b69bc;
  }
  .box-content.pink {
      border-color: #ff8acc;
  }
  .box-content.pink .box-title {
      color: #ff8acc;
  }
  .box-content.lightdark {
      border-color: #f4f8fb;
  }
  .box-content.lightdark .box-title {
      color: #f4f8fb;
  }

.dot-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.dot-list li {
  margin-bottom: 15px;
  padding: 0px 0px 0px 30px;
  position: relative;
}
.dot-list li:before {
  content: "\f10c";
  font-family: 'FontAwesome';
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 14px;
  line-height: 20px;
}
.dot-list .date {
  font-size: 12px;
  color: #939ba2;
  display: block;
}

a.tooltip{
  position:relative;
}
a.tooltip:hover{
  text-decoration:none;
}
a.tooltip:after{
  content: attr(tip);
  font-family:Arial, Helvetica, sans-serif;
  font-size:90%;
  line-height:1.2em;
  color:#fff;
  width:200px;
  padding:5px 10px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  background:#c00d3f;
  background:-webkit-linear-gradient(#c00d3f, #7b0a2a);
  background:-moz-linear-gradient(#c00d3f, #7b0a2a);
  background:-o-linear-gradient(#c00d3f, #7b0a2a);
  background:-ms-linear-gradient(#c00d3f, #7b0a2a);
  background:linear-gradient(#c00d3f, #7b0a2a);
  -moz-box-shadow: 3px 3px 4px rgba(0,0,0, .65);
  -webkit-box-shadow: 3px 3px 4px rgba(0,0,0, .65);
  box-shadow: 3px 3px 4px rgba(0,0,0, .65);
  position:absolute;
  top:27px;
  left:-10px;
  display:none;
}
a.tooltip:before{
  z-index:1000;
  position:absolute;
  content:"";
  top:15px;
  left:0px;
  border-right:7px transparent solid;
  border-left:7px transparent solid;
  display:none;
}
a.tooltip:hover{
  z-index:1000;
  position:relative;
  color:#8325f7;
}
a.tooltip:hover:after{
  display:block;
}
a.tooltip:hover:before{
  display:block;
}

.notice-list {
  list-style: none;
  padding: 0px;
}
.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}